* {
  margin: 0;
  padding: 0;
}

/* og: */
/* 6 1/2" x 4 ½" */
/* 500 x 320 */
.square {
  width: 10px;
  height: 10px;
}

.hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  mix-blend-mode: multiply;
  border: 1px solid black;
}
